.Main {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.Sidebar {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  height: 20%;
}

.Main a,
.Sidebar a {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
}

.Main a:hover,
.Sidebar a:hover {
  color: grey;
}

@media (max-width: 1025px) {
  .Main {
    display: none;
  }
}

.activeNav {
  color: darkslategray !important;
  font-weight: 500 !important;
}
