.burger {
  width: 18rem;
  /* height: 20rem; */
  padding: 3rem 0;
  margin: auto;
  text-align: center;
}

.burgerPreview {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
